.container
  display: flex
  flex-direction: column
  align-items: center

.header
  margin-bottom: 14px
  font-size: 2.2rem
  line-height: 2.2rem
  font-weight: bold
  color: var(--orange)
  text-transform: uppercase

.input
  align-self: center
  width: 240px
  height: 40px
  padding-top: 2px

  text-align: center
  font-size: 1.4rem
  line-height: 1.5rem
  color: var(--pink)
  background-color: var(--yellow)
  border: 1px solid var(--orange)
  border-radius: var(--radius)
  outline: none

.wrapper
  display: flex
  flex-direction: column
  margin-top: 24px

.submit
  padding: 10px 20px
  color: var(--yellow)
  font-size: 1.1rem
  font-weight: bold
  text-transform: uppercase

  background-color: var(--orange)
  border: 1px solid var(--orange)
  border-radius: var(--radius)
  cursor: pointer

  &:hover
    background: var(--orange-low-dark)

  &:active
    background: var(--orange-dark)
    transform: translateY(2px)

.linkHome
  margin-top: 12px
  padding: 10px 20px
  color: var(--orange)
  font-size: 1.1rem
  font-weight: bold
  text-transform: uppercase
  text-decoration: none
  text-align: center

  background-color: var(--yellow)
  border: 1px solid var(--orange)
  border-radius: var(--radius)

  &:hover
    background: var(--white)

  &:active
    color: var(--orange-dark)
    transform: translateY(2px)

.error
  border: 1px solid var(--red)